@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #FBFAF5;
  color: #013220;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  color: #163b8a;
}

h2 {
  color: #1e2842;
}

a {
  color: #177ab4;
}

a:visited {
  color: #76aeee;
}
