@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap");

body {
  background-color: #FBFAF5;
  color: #013220;
  font-family: "Source Code Pro", monospace;
}

h1 {
  color: #f38f1d;
}

a {
  color: #177ab4;
}

a:visited {
  color: #76aeee;
}
