@import url("https://fonts.googleapis.com/css2?family=Bpmf+Zihi+Kai+Std&display=swap");

body {
  background-color: #FBFAF5;
  color: #013220;
  font-family: "Bpmf Zihi Kai Std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #163b8a;
}

a {
  color: #177ab4;
}

a:visited {
  color: #76aeee;
}
