/* Mobile Styling */
@media screen and (max-width: 425px) {
    #content {
      margin-left: 8%;
      margin-right: 8%;
      margin-bottom: 8%;
    }
  
    #andrew {
      display: block;
      margin: auto;
      margin-top: 30px;
    }
    
    #sidebar {
      margin-bottom: 22px;  
    }
  
    h1 {
      text-align: center;
    }
  }
  
  /* Tablet and Desktop Styling */
  @media screen and (min-width: 426px) {
    #content {
      display: grid;
      grid-template-columns: auto 220px 5% auto;
      grid-template-rows: 220px auto;
      margin-top: 4%;
      margin-bottom: 4%;
    }
  
    #intro {
      grid-column-start: 4;
      max-width: 600px;
    }
  
    #andrew {
      grid-column-start: 2;
    }
  
    #sidebar {
      grid-column-start: 2;
    }
  }
  
  /* Common Styling */
  #contact {
    color: #163b8a;
  }
  
  #andrew {
    border-radius: 18%;
    border: 1px solid #00008B;
    width: 200px;
  }
  
  #media {
    color: #163b8a;
    margin-bottom: 0px;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
